* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

.section {
    padding: 2rem 9%;
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

.home .content {
    max-width: 400rem;
    margin-left: 100px;
    z-index: 1;
}

.home .content h3 {
    font-size: 4em;
    color: #D9D4C8;
}

.home .content span {
    font-size: 3.5rem;
    color: #ABA38F;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: white;
}

.home .content a {
    margin-top: 60px;
    width: auto;
    font-size: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #D9D4C8;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #565538;
    color: white;
    box-shadow: 0 0 25px #D9D4C8;
    transform: scale3d(1.03);
}


@media (max-width:900px) {
    .home .content {
        margin-left:30px;
    }
}

@media (max-width: 480px) {
    .home .content {margin: 0 15px;}
    .home .content h3 { font-size: 1.8rem; }
    .home .content span { font-size: 1.2rem; }
}